@import "tailwindcss";

@theme {
  --color-rose-50: #fff1f2;
  --color-rose-100: #ffe4e6;
  --color-rose-200: #fecdd3;
  --color-rose-500: #f43f5e;
  --color-rose-600: #e11d48;
  --color-rose-700: #be123c;
}

body {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
}